html {
    margin:auto;
    text-align: center;
    font-family: sans-serif;
    font-size: larger;
    background-color: #FFDDF2;
    color: #2C1728;
    justify-content: center;
    max-width: 50em;
} 

img {
    max-width: 15em;
}

a {
    color: hotpink;
    text-decoration: none;
}

a:link {
    color: hotpink;
    text-decoration: none;
}

a:visited {
    color: hotpink;
    text-decoration: none;
}

.navlinks {
    padding: 2%;
}

.socials {
    font-size: xx-large;
}

.theme {
    background-color: #FFDDF2;
    color: #2C1728;
  }
  @media (prefers-color-scheme: dark) {
    .theme.adaptive {
      background-color: #2C1728;
      color: #FFDDF2;
    }
}