html {
    font-family: sans-serif;
    text-align: center;
    color: #FFDDF2;
    background-color: #2C1728;
    font-size: 170%;
}

img {
    max-width: 100%;
}

#avatar {
    border-radius: 50%;
}

a {
    color:inherit;
}

