html {
    font-family: sans-serif;
    text-align: center;
    color: #FFDDF2;
    background-color: #2C1728;
    font-size: 140%;
}

img {
    max-width: 50%;
    max-height: 50%;
}

#avatar {
    border-radius: 50%;
}

a {
    color: inherit;
}

p {
    display: inline-flexbox;
    max-width: 70%;
}

