html {
    font-family: sans-serif;
    text-align: center;
    color: #FFDDF2;
    background-color: #2C1728;
}

html {
    font-family: sans-serif;
    text-align: center;
    color: #2C1728;
    background-color: #FFDDF2;
}